<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pathfinder.Controller.CourseController" name="courseController" scope="singleton"><!-- creating bean -->
        <constructor-arg name="courseService" ref="courseService"> <!-- dependecy injection to variables -->
        </constructor-arg>
    </bean>
    <bean class="com.pathfinder.Service.CourseService" name="courseService" scope="singleton">
        <constructor-arg name="courseDao" ref="courseDao">
        </constructor-arg>
    </bean>
    <bean class="com.pathfinder.Dao.CourseDao" name="courseDao" scope="singleton">
    </bean>
    
   <bean class="com.pathfinder.Model.Course" name="course" scope="singleton">  <!-- dependency injection by setter-->
        <property name="id" value="101"/>
        <property name="courseName" value="Spring Framework Basics"/>
        <property name="courseDescription" value="30 hours"/>
        <property name="coursePrice" value="500 USD"/>
    </bean>

    <bean class="com.pathfinder.Model.Course1" name="course1" scope="singleton"> <!-- dependency injection by constructor-->
      <constructor-arg name="id" value="102"/>
        <constructor-arg name="courseName" value="Spring Framework Advanced"/>
        <constructor-arg name="courseDescription" value="40 hours"/>
        <constructor-arg name="coursePrice" value="700 USD"/>
    </bean>
</beans>

